##################################################
# .NET
##################################################
bin/
obj/

##################################################
# Next.js / Node
##################################################
node_modules/
.next/
out/

##################################################
# Environment Variables
##################################################
.env
.env.local
.env.*.local

##################################################
# OS Files
##################################################
.DS_Store
Thumbs.db